name: Test
on: [push]

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          cache: true

      - uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --verbose

  test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu
          - macOS

    name: "${{ matrix.platform }}"

    runs-on: ${{ matrix.platform }}-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Test
        run: make test
